.calculator-form-container {
  font-size: 14px;
  line-height: 24px;

  .step-heading {
    font-size: 14px;
    line-height: 24px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

p {
  font-size: 14px;
  line-height: 21px;
}

.main-container {
  min-height: calc(100vh - (74px + 94px + 48px));
}
