@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");

$body-bg: #e5e5e5;
$body-color: #000000;

// Font family
$font-family-sans-serif: "Open Sans", sans-serif;

// Base colours
$primary: #ea7425;

// Font size overrides
$h2-font-size: 24px;
$h3-font-size: 18px;

// Inputs
$input-bg: #ffffff;

// Misc
$btn-add-row: #5b6972;
