.form-step {

  &-text {
    max-width: 350px;
    font-size: 14px;
    line-height: 21px;

    img {
      max-width: 20px;
    }
  }

  &-help {
    max-width: 290px;
    font-size: 14px;
    line-height: 21px;
  }
}
