.form-entry-card {
  width: 415px;
  margin-top: 105px;

  h2 {
    font-size: 24px;
    line-height: 36px;
  }

  h3 {
    font-size: 18px;
    line-height: 30px;
  }

  .content {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .btn {
    width: 170px;
    color: $white;
  }
}
