.form-top {

  &-navigation {
    margin-top: 64px;
    margin-bottom: 64px;

    &::before {
      position: absolute;
      width: calc(100% - 1.5rem);
      height: 1px;
      content: "\200C";
      background-color: rgba(0 0 0 / .12);
    }

    .form-step {
      z-index: 1;
      padding: 0 20px;
      font-family: $font-family-sans-serif-secondary;
      background-color: $body-bg;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 20px;
      }

      &:hover {
        cursor: pointer;
      }

      .title {
        width: 70px;
      }
    }

    .badge {
      width: 24px;
      height: 24px;
      color: rgba(0 0 0 / .2);
      background-color: rgba(0 0 0 / .12);
      transition: all .5s ease-in-out;
    }
  }

  &-anchor {
    font-weight: 300;
    transition: all .5s ease-in-out;

    &.incomplete {
      color: rgba(0 0 0 / .38);
      pointer-events: none;
    }

    &.complete {
      font-weight: 400;
      color: rgba(0 0 0 / .87);

      .badge {
        position: relative;
        color: $complete;
        background-color: $complete;
        transition: all .5s ease-in-out;

        &::before {
          position: absolute;
          width: 10px;
          height: 8px;
          content: "\200C";
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 8'%3E%3Cpath d='M3.5 6.08594L8.79688 0.789062L9.5 1.49219L3.5 7.49219L0.710938 4.70312L1.41406 4L3.5 6.08594Z' fill='white'%3E%3C/path%3E%3C/svg%3E");
        }
      }
    }

    &.active {
      font-weight: 400;

      .badge::before {
        opacity: 0;
        transition: all .5s ease-in-out;
      }
    }

    &.active,
    &:focus,
    &:hover {
      color: rgba(0 0 0 / .87);

      .badge {
        color: $white;
        background-color: $primary;

        &::before {
          opacity: 0;
          transition: all .5s ease-in-out;
        }
      }
    }
  }
}

.cancel-progress {

  .cancel-anchor {
    position: absolute;
    top: 35px;
    color: $cancel-anchor-colour;

    @include media-breakpoint-between(md, xl) {
      top: 25px;
      right: -50px;
    }

    @include media-breakpoint-between(xl, xxl) {
      right: -100px;
    }
    @include media-breakpoint-up(xxl) {
      right: -150px;
    }
  }
}
