.button-navigation {
  .btn {
    width: 120px;
    justify-content: center;
    display: flex;
    align-items: center;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  .next {
    color: $white;

    .icon {
      margin-left: 5px;
    }
  }

  .back {
    .icon {
      margin-right: 5px;
    }

    &:hover,
    &:focus {
      background-color: $black;
      color: $white;

      .path {
        fill: $white;
      }
    }
  }
}

.btn-add-row {
  background-color: $btn-add-row;
  color: $white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 20px;

  &:focus,
  &:hover {
    box-shadow: none;
    color: $white;
  }

  &:hover {
    background-color: rgba(91 105 114 / .7);
  }
}
